.btn {
    width: 135px;
    border-radius: 4px;
    font-size: 14px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    &.white {
        background-color: var(--btn-white-background);
        color: var(--btn-white-color-text);
        font-weight: 600;
        &:hover {
            background-color: var(--btn-white-hover-background);
        }
    }
    &.transparent {
        background-color: transparent;
    }
    &.only-icon {
        width: 50px;
        height: 50px;
        .btn-img-container {
            svg {
                width: 40px;
                height: 40px;
            }
            &.gray:hover {
                svg {
                    fill: var(--gray-border-color);
                } 
            }
        }
    }

}

.hint-container {
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px 10px;
}

.select {
    
}

.filter {
    &.date {
        display: inline;
        input {
            width: 20px;
            background-color: transparent;
            border: none;
        }
    }
}