.hint-container {
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px 10px;
}

.select {
    
}

.filter {
    &.date {
        display: inline;
        input {
            width: 20px;
            background-color: transparent;
            border: none;
        }
    }
}

.calendar-container {
    position: absolute;
    top: 40px;
    right: -60px;
}

.big-toggle {
    display: flex;
    height: 40px;
    border-radius: var(--br-4);
    overflow: hidden;
    .toggle-element {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--white-background);
        color: var(--btn-white-color-text);
        cursor: pointer;
        &.active {
            background-color: var(--dark-blue-background);
            color: var(--white-color)
        }
    }
}