.hint-container {
    position: absolute;
    background-color: black;
    color: white;
    padding: 5px 10px;
}

.select {
    
}

.filter {
    &.date {
        display: inline;
        input {
            width: 20px;
            background-color: transparent;
            border: none;
        }
    }
}